.tippy-trigger {
  border-bottom: 1px dotted #3eaf7c;
  cursor: help;
  /* display: inline-block; */
}

.tippy-box {
  border-radius: 4px;
  font-size: 0.9em;
}

.tippy-box[data-theme~="custom"] {
  background-color: #213547;
  color: #ffffff;
}

.tippy-box[data-theme~="custom"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #213547;
}

.tippy-arrow {
  color: #213547;
}

.outline-link {
  white-space: wrap !important;
}